.App {
  color: #FFA500;
  font-size: 64px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  align-items: baseline;
}

.NameHero {
  flex-grow: 5;
  padding-left: 10%;
}

.VerticalBreakLine {
  border-left: 1px solid #FFA500;
  width: 0px;
  align-self: stretch;
}

.CommonNounHero {
  flex-grow: 5;
  text-align: right;
  padding-right: 10%;
  font-family: 'Quicksand-Light', -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
}

.HorizontalBreakLine {
  border-top: 1px solid #FFA500;
  margin-top: 50px;
}

.LowerBlock {
  background-image: url('../public/home-background.jpeg');
  height: 100px;
}