@font-face {
  font-family: "Quicksand";
  src: local("Quicksand"), url("../public/fonts/Quicksand/Quicksand-Regular.ttf") format("truetype");
  font-weight: regular;
}

@font-face {
  font-family: "Quicksand-Light";
  src: local("Quicksand-Light"), url("../public/fonts/Quicksand/Quicksand-Light.ttf") format("truetype");
  font-weight: regular;
}

body {
  font-family: 'Quicksand', -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  background-color: black;
  padding: 50px;
}

div {
  /* border: 1px solid red; */
}
